img
{
    width: 100px;
    /*height: 100px;*/
    margin-bottom: 5px;
    /*overflow: hidden;*/
}

.image
{
    /*width: 100px;*/
    height: 100px;
    overflow: hidden;
}

td, th {
    display: table-cell;
    vertical-align: top;
}

.selected
{
    border: 4px ridge red;
}
.unselected
{
    border: 4px dashed white;
}

.btn {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    /*font-family:Arial;*/
    font-size:17px;
    padding:5px 100px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}
.btn:hover {
    background-color:#5cbf2a;
}
.btn:active {
    position:relative;
    top:1px;
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 0; /* Поля вокруг текста */
    background: #fff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}


#footer h4 {
    color: orangered;
}

#content
{
    padding-bottom: 45px;
}